.tabbar {
  justify-content: center;
}

.tab-button {
  max-width: 200px;
}

.side-menu-title{
  font-style: oblique;
  font-family: cursive !important;
  color:#ffdf00 !important;
  font-weight: 600;
  font-size: xx-small !important;
}

.side-menu-title1{
  font-style: oblique;
  font-family: cursive !important;
  color: #fdc72d!important;
  font-weight: 600;
  font-size: xx-small !important;
}

.side-menu-icon{
  color: #fdc72d;
}